* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-form {
    width: 25%;
    background: lightblue;
    margin: 3rem auto;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.login-form > input {
    font-size: 20px;
    padding: 0.2rem;
}